/* body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*} */

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
    background-color: #f5f5f5;
}

.app {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.regions {
    margin-bottom: 20px;
}

.upload {
    margin-top: 20px;
}

.achievement-state {
    width: 50px;
    height: 50px;
}

.achievement-table {
    border-collapse: collapse;
    width: 100%;
    /*color: #333;*/
    /*background-color: #f5f5f5;*/
}

.achievement-table th,
.achievement-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.achievement-table th.index,
.achievement-table td.index {
    /*width: px;*/
}

.achievement-table th.video,
.achievement-table td.video {
    font-weight: bold;
}


.achievement-table th.state,
.achievement-table td.state {
    width: 90px;
    text-align: center;
}
